<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Eo_circle_teal_white_letter-d.svg/2048px-Eo_circle_teal_white_letter-d.svg.png" type="image/icon type">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/97786c0737.js" crossorigin="anonymous"></script>
    <title>DevA10 shope home</title>
</head>
<body>
    <header>
        
    </header>
    <nav>
        <button id="myproducts" class="nav-buttons">My products</button>
        <button id="addproduct" class="nav-buttons">Add a Product</button>
        <button id="logout" class="nav-buttons">Logout</button>
        <button id="mycart" class="nav-buttons">My Cart</button>
    </nav>
    <section class="main">
        <div class="cards">
            
        </div>
    </section>    
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../js/home.js"></script>
</html>