<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <script src="https://kit.fontawesome.com/97786c0737.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div>
            <div class="brandname text">dev<span class="special">A10</span></div>
            <div class="brandname text down">SHOP</div>
        </div>
        
        <div class="go-to-login">
            <div class="desc">Already have a account? <span><button class="login button"><a href="http://localhost:3000/user/login" class="link"> Login </a></button></span></div>
        </div>
    </header>
    <section>
        <div class="card">
            <div class="title heading">Register</div>
            <input placeholder="Email or Mobile" class= "input-field" name="loginid" type="text">
            <input placeholder="Username"class= "input-field" name="username" type="text">
            <input placeholder="Password"class= "input-field" name="password" type="text">
            <input placeholder="Confirm Password"class= "input-field" name="confirm-password" type="text">
            <div class="button-space"><button id="submit-button" class="submit">Register</button></div>
        </div>
        
    </section>
    <footer>
        <div class="desc">Designed with <span><i class="fas fa-heart"></i> </span> by Govind</div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../js/register.js"></script>
</html>